.profile-container{
    flex: 1;
    -webkit-box-shadow: 0px 0px 12px -1px #000000; 
    box-shadow: 0px 0px 12px -1px #000000;
    padding: 20px;
    text-align: center;
    padding-top: 40px;
}

.profile-title{
    font-size: 32px;
    font-weight: 600;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-list{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    height: 150px;
    padding-top: 10px;
    /* flex: 1; */
}

.listItem{
    display: flex;
    align-items: center;
    margin: 20px 10px;
}
.profile-user{
    flex-direction: column;
    flex: 1;
}
.profile-text{
    flex-direction: column;
    flex: 3;

}
.profile-userName{
    font-size: 2rem;
    font-weight: 400;
}
.profile-userTitle{
    font-weight: 300px;
}

