/* .container{
    position: absolute;
} */
.container-widget .panel {
    margin-bottom: 15px;
    border-radius: 0px;
    border: 1px #e6e9ee solid;
}
.panel-widget {
    overflow: hidden;
    border: none;
}
.basic-list {
    margin-bottom: 0;
    padding: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Basic List */
.basic-list {
  margin-bottom: 0;
  padding: 0;
}
.basic-list li {
  display: block;
  position: relative;
  padding: 12px 0;
}
.basic-list li:last-child {
  border-bottom: none;
}
.basic-list .right {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 3px 6px;
  font-weight: 600;
}

/* Image List */
.image-list li {
  padding-left: 50px;
}
.image-list .img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  border-radius: 0px;
}
/* .image-list .desc {
  font-size: 12px;
  opacity: 0.8;
  display: block;
} */